body{
    padding:0;
    margin:0;
    height:100vh;
    width:100vw;
    font-family:'Arial';
    overflow-x:hidden;
}

nav{
    width:100%;
    background-color:#36434B;
    border-bottom:3px solid #ec4322; 
}
.wrapper{
    margin:auto;
    width:80%;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
    width:100%;
    background-color:#36434B;
    height:80px;
    display:flex;
    color:#fff;
    align-items:center;
    text-decoration:none;
}

nav .wrapper{
    display:flex;
    
}
li:nth-child(2){
    margin:20px 20px 20px auto;
    font-size:12px;
}

li:nth-child(3),li:nth-child(4){
    margin:20px;
    font-size:12px;
}

.logo{
    font-size:20px;
    font-weight:bold;
}
.red {
    color:#ec4322;
}

.middle {
    width:100%;
    height:350px;
    background-image:url(22769596_1510605159008872_6144125334868008824_o.jpg);
    background-position:center;
    color:#fff;
}
.middle .wrapper{
    display:flex;
    flex-direction: column;
    height:100%;
}
.affordable{
    margin:0;
    margin-top:100px;
    font-weight:bold;
    font-size:35px;
    text-align:center;
}

.lorem{
    margin-top:30px;    
    align-self:center;
    text-align:center;    
    width:45%;
    height:100px;
    font-size:12px;
}

a, a:hover, a:visited, a:link{
    text-decoration:none;
    color:#fff;
}

.newsletter{
    background-color:#36434B;
    width:100%;
    height:100px;
}

.newsletter .wrapper{
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form{
    display:flex;
    flex-direction:row;
    height:100%;
    align-items:center;
}

[type="submit"]{
    width:100px;
    height:36px;
    background-color:#ec4322;
    color:#fff;
    border:1px solid #ec4322;
    margin-left:3px;
}
[type="text"]{
    height:30px;
    width:200px;   
}

::placeholder{
    color:#939393
}
.subscribe{
    margin:0;
    padding:0;
    color:#fff;
    font-size:20px;
    font-weight: bold;
}
.tools{
    width:100%;
    height:300px;
}
.tools .wrapper{
    height:100%;
    width:80%;
    display:flex;
    justify-content: center;
}
.tools .wrapper img{
    width:100px;
    height:100px;
    margin:0 auto;
}

.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.container p{
    font-size:12px;
}
footer{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:#ec4322;
    color:#fff;
    font-size:10px;
    margin-top:auto;
}

/*
-----ABOUT US-----
*/
.aboutus{
    min-height:250px;
    padding:10px;
}
.aboutus .wrapper{
    display:flex;
}

.inner{
    display:flex;
    flex-direction:column;
    width:70%:
    
}

.description_white{
    width:90%;
    font-size:15px;
}

.description_black{
    width:90%;
    padding:10px;
    margin-top:10px;
    background-color:#36434B;
    color:#fff;
    font-size:15px;
    
}

.whatwedo{
    min-width:30%;
    height:50%;
    font-size:15px;
    padding:20px;
    background-color:#36434B;
    color:#fff;
}

.inner h3, .whatwedo h3{
    margin-top:0;
}
/*
-----SERVICES-----
*/
.third .wrapper{
    display:flex;
    flex-direction:row;
}
.column{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    width:70%;

}
h4{
    color:#585757;
}
.service{
    background-color:#E5E5E5;
    border:1px solid #c1bebe;
    margin:5px;
    padding:10px;
    font-size:12px;
}

.bold{
    font-weight: bold;
    font-size:18px;
}

.margin{
    margin:15px 0 20px 0 
}

.quote{
    width:30%;
    margin-left:20px;
}
.quote form{
    display:flex;
    flex-direction:column;
    justify-content:flex-start ;
    background-color:#36434B;
    margin:10px;
    height:260px;
    padding:10px;
    color:white;
    text-align: left;
    
}
.quote form [name="name"], .quote form [name="email"]{
    width:90%;
    height:20px;
    align-self:flex-start;    
}

.quote form [type="submit"]{
    width:50px;
    height:30px;
    padding:5px;
    font-size:10px;    
    margin:5px 5px 5px 0;
    align-self:flex-start;
}

label{
    width:100%;
    text-align:left;
    font-size:12px;
    font-weight:lighter;
    margin:3px 0 3px 0;
}

h5{
    width:100%;
}

textarea{
    align-self:flex-start;
    width:90%;
    height:40px;
}




